---
import ArticlePost from '../layouts/ArticlePost.astro';
import AboutImage from '../assets/u_need_smth.jpg'
import { TELEGRAM_CHANNEL, TELEGRAM_ME } from '../consts.ts'
---

<ArticlePost
  title="Где я?"
  heroImage={AboutImage}
  description="О проекте OpenKEGE Articles"
  pubDate={new Date('2026-05-16')}
  showMeta={false}
>
  <h2>
    Авторство
  </h2>
  <p>
    Вы каким-то чудесным образом оказались на моем сайте, написанном за один вечер
    на чудесном фреймворке astro. Я, собственно, <a href={TELEGRAM_ME} target="_blank">Николай Ивахненко</a>,
    готовлю к ЕГЭ по информатике уже 4 года и не собираюсь останавливаться.
  </p>

  <h2>
    Идея создания
  </h2>
  <p>
    Когда я завел свой личный <a href={TELEGRAM_CHANNEL} target="_blank">телеграм канал</a> на 15 человек (не все из которых мои ученики),
    я решил писать прикольные статьи (по крайней мере, они мне такими кажутся) про разные штуки
    в информатике и ЕГЭ в частности. Но, как оказалось, телеграм мало подходит под сервис, где
    можно комфортно писать и читать статьи. Шрифт маленький, функционала мало, стоит ограничение
    по объему символов и невозможно вставить фотографии внутрь текста. Так еще и код читать некомфортно,
    вообще безобразие. Поиски альтернативы не увенчались успехом, и тогда я вспомнил, что...
    Я же умею программировать, так еще есть куча удобных веб фреймворков, позволяющих писать
    сайты буквально за считанные часы. Так и родился этот сайт (минимум вайб кода, клянусь).
  </p>

  <h2>
    Что здесь можно найти?
  </h2>
  <p>
    На сайте всего две вкладки: "Все статьи" и "Где я?", так вот в вкладке "Все статьи"
    вы найдете все статьи, которые есть. Помимо этого, в некоторых статьях встречаются
    интерактивные штучки, такие как квиз и live кодинг сегменты.
  </p>

  <h2>
    Философия проекта
  </h2>
  <p>
    Подробнее про философию проекта и полезные ссылки можно найти в этой <a href='/article/useful-links/'>статье</a>.
  </p>

  <h2>
    Обратная связь
  </h2>
  <p>
    Если вы нашли баг, или вы нашли фичу, который быть не должно, или вы хотите пообщаться со мной лично,
    то можете <a href={TELEGRAM_ME} target="_blank">написать мне</a>.
  </p>
</ArticlePost>